In [10]:
import pandas as pd

In [14]:
df = pd.read_csv('laptops.csv')

In [15]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [18]:
df = df[['ram', 'storage', 'screen', 'final_price']]

In [19]:
df

      ram  storage  screen  final_price
0       8      512    15.6      1009.00
1       8      256    15.6       299.00
2       8      256    15.6       789.00
3      16     1000    15.6      1199.00
4      16      512    15.6       669.01
...   ...      ...     ...          ...
2155   16     1000    17.3      2699.99
2156   16     1000    17.3      2899.99
2157   32     1000    17.3      3399.99
2158   16     1000    13.4      1899.99
2159   16      256    13.4      1699.99

[2160 rows x 4 columns]

In [25]:
df['screen'].isnull().sum()

np.int64(4)

In [26]:
df['ram'].median()

16.0

SyntaxError: invalid syntax (3561936836.py, line 1)